@font-face{
    font-family: Yekan;

    src: url('./font/Yekan.eot');
    src: url('../font/Yekan.woff') format('woff');
}

*{
    font-family: yekan;
}
body{
    
    margin: 0px;

}


.main{

    width:1440px;
    justify-content: center;
    height: 2350px;
    display: grid;
    grid-template-columns: 435px 570px 435px ;
    grid-template-rows: 417px 280px 380px 1100px;
    margin: auto;

}
.header {

 
    color: white;
    grid-column: 1 / 4;
    grid-row: 1;
    grid-gap:10px;
    
  
}
.rect1 {
    position: relative;
    right: 100%;
    width: 1440px;
    height: 417px;
    left: 0;

background: linear-gradient(89.45deg, #9D51FF 0.93%, #4200FF 112.5%);


}
.rect2{
   
    background-image: url('../svg/Rectangle2.svg');
    transform: translateY(338px);
    width: 1440px;
    height: 81px;
    left: 0px;
  

}

.header-title{

    text-align: right;
    margin-top: 70px;
    margin-right: 350px;
    height: 70px;
 
}
.header-title .title {
    font-size: 40px;
}
.some-title{

    text-align: right;
    margin-right: 350px;
    line-height: 140%;
  
}

.btn1{

    position: relative;
    height: 45px;
    width: 145px;
    border-radius: 5px;
    background-color: #ff4545;
    border: none;
    color: white;
    left: 950px;
    top:23px ;
    cursor: pointer;
    outline: none;

}

.arrow {

    position: relative;
    background-image: url('../svg/arrow.svg');
    background-repeat: no-repeat;
    top:7px;
    left: 28px;

}

.btn1-text{

     position: relative;
     bottom: 8px;
     right: 13px;

}

.time{

    width:363px ;
    height: 363px;
    background-image: url('../svg/Time.svg');
    z-index: 10;
    position: relative;
    bottom: 275px;
    left: 314px;

}

.box1{

    grid-column: 1/4;
    grid-row: 2/3;

}

.box1-title { 

    height: 60;
    margin-left: 650px;
    font-size: 25px;

}

.animal-box{

    width: 581px;
    height: 186px;
    margin: auto;

}

.animal-item{

    width: 125px;
    height: 125px;
    background-color: #fafafa;
    float:right;
    margin-right: 20px;
    margin-top: 28px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}
.animal-item2{

   margin-right: 0px;

}
.animal-icon1{

    position: relative;
    bottom: 25px;
    right: 12px;
    background:url('../svg/animal1.svg') ;
    background-repeat: no-repeat;
    height: 80px;
     
}
.animal-icon2{

    position: relative;
    bottom: 24px;
    right: 16px;
    background:url('../svg/animal2.svg') ;
    background-repeat: no-repeat;
    height: 80px;
    
}
.animal-icon3{

    position: relative;
    bottom: 31px;
    right: 12px;
    background:url('../svg/animal3.svg') ;
    background-repeat: no-repeat;
    height: 80px;

}
.animal-icon4{

    position: relative;
    bottom: 25px;
    right: 12px;
    background:url('../svg/animal4.svg') ;
    background-repeat: no-repeat;
    height: 80px;
    
}
.animal-text1{
    position: relative;
    top: 78px;
    left:45px;

}
.animal-text2{

    position: relative;
    top: 78px;
    left: 66px;
}
.animal-text3{

    position: relative;
    top: 78px;
    left: 33px;
    
}
.animal-text4{

    position: relative;
    top: 78px;
    left:50px ;
    
}
.copy-box{

    position: relative;
    width: 104px;
    height: 24px;
    background-color: white;
    border-radius:5px ;
    margin: auto;
    top: 30px;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.08);
    
}
.exp{

    font-size: 13px;
    position: relative;
    right: 66px;
    bottom: 9px;

}
.copy-icon{

    position: relative;
    left: 83px;
    top: 7px;
    background-image: url('../svg/copy.svg');
    background-repeat: no-repeat;
    cursor: pointer;

}
.box2{

    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 50px;

}

.mid-rect{
    
    height: 332px;
    left: 0px;
    background: linear-gradient(104.41deg, #9300FF 10.49%, #4200FF 93.31%);

}

.ball{

    position: relative;
    left:422px;
    top: 90px;
    background-image: url('../svg/Group14.svg');
    background-repeat: no-repeat;
    height: 200px;

}

.mid-title{

    position: relative;
    text-align: right;
    color: white;
    right: 886px;
    bottom: 22px;
   
}

.title2{

    font-size: 40px;
}

.some-title2{

    position: relative;
    line-height: 140%;
    bottom: 5px;
}

.btn2{

    position: relative;
    height: 45px;
    width: 145px;
    border-radius: 5px;
    background-color: #ff7979;
    border: none;
    color: white;
    left: 4px;
    top:8px ;
    cursor: pointer;
    outline: none;
    
}

.box3{
   
    grid-column: 2/3;
    display: grid;
    grid-template-columns:570px ;
    grid-template-rows: 270px 780px 450px 840px;
    margin-top: 50px;

 
}

.video {

    background-color: #e0e0e0;
   
}
.img-box{
   
    display: grid;
    grid-template-columns: repeat(3,180px) ;
    grid-template-rows: repeat(4,180px);
    grid-column-gap: 15px;
    grid-row-gap: 15px ;
    margin-top: 30px;
}
.img{

    background-color: #c4c4c4;

}
.img-2{

    background-color: #c4c4c4;

}
.poly{
    background: url('../svg/poly.svg');
    background-repeat: no-repeat;
    position: relative;
    left: 250px;
    top: 100px;
}






